body{
  background-color: #FFFFFF;
  font-family: Cambria, Arial, Helvetica;
}

.header {
  background-color: #FF0000;
  color: #FFFFFF;
  text-align: center;
  padding: 5px;
}

.toc li{
  font-size: 18px; 
  line-height: 20px; 
  text-align: left;
  list-style-type: none;
}

.topic {
  font-size: 20px; 
  text-align: center; 
  font-style: oblique; 
  color: #EEEEEE; 
  border-radius: 5px; 
  margin: 10px; 
  background-color: #FF0000; 
}

.text {
  font-size: 20px; 
  padding: 2px; 
  margin: 10px;
}
